version: '3.8'
services:
  pg:
    image: postgres:17-alpine
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=127.0.0.1
    command: ["postgres", "-c", "log_statement=all"]
    volumes:
      - pg:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: on-failure

volumes:
  pg:
